In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

We have taken data on the particulates in the air in London from (www.londonair.org.uk)[www.londonair.org.uk].

In particular, we chose data on the Nitric Oxide, Nitrogen Dioxide, PM2.5 Particulate (by FDMS)and Sulphur Dioxide in the air (all measured in ug/m3).

The air was sampled at Haringey Town Hall at 15 minute intervals between 1st January 2017 and 1st January 2018.



https://www.londonair.org.uk/london/asp/datasite.asp?CBXSpecies1=NOm&CBXSpecies5=PM25m&CBXSpecies6=SO2m&day1=1&month1=jan&year1=2017&day2=1&month2=jan&year2=2018&period=15min&ratidate=&site=HG1&res=6&Submit=Plot+graph

In [7]:
df = pd.read_csv('https://www.londonair.org.uk/london/asp/downloadsite.asp?site=HG1&species1=NOm&species2=PM25m&species3=SO2m&species4=&species5=&species6=&start=1-jan-2017&end=1-jan-2018&res=6&period=15min&units=ugm3')

In [4]:
df.describe()

              Value
count  34568.000000
mean      28.987109
std       45.982096
min        0.200000
25%        8.900000
50%       17.100000
75%       30.600000
max      759.200010

In [9]:
Let's take a look at the data:

SyntaxError: EOL while scanning string literal (<ipython-input-9-307bbcbb2e11>, line 1)

In [6]:
df

       Site Species   ReadingDateTime  Value   Units Provisional or Ratified
0       HG1      NO  01/01/2017 00:00   25.5  ug m-3                       R
1       HG1      NO  01/01/2017 00:15   25.5  ug m-3                       R
2       HG1      NO  01/01/2017 00:30   25.5  ug m-3                       R
3       HG1      NO  01/01/2017 00:45   25.5  ug m-3                       R
4       HG1      NO  01/01/2017 01:00   21.7  ug m-3                       R
5       HG1      NO  01/01/2017 01:15   21.7  ug m-3                       R
6       HG1      NO  01/01/2017 01:30   21.7  ug m-3                       R
7       HG1      NO  01/01/2017 01:45   21.7  ug m-3                       R
8       HG1      NO  01/01/2017 02:00   17.4  ug m-3                       R
9       HG1      NO  01/01/2017 02:15   17.4  ug m-3                       R
10      HG1      NO  01/01/2017 02:30   17.4  ug m-3                       R
11      HG1      NO  01/01/2017 02:45   17.4  ug m-3                       R
12      HG1      NO  01/01/2017 03:00   18.8  ug m-3                       R
13      HG1      NO  01/01/2017 03:15   18.8  ug m-3                       R
14      HG1      NO  01/01/2017 03:30   18.8  ug m-3                       R
15      HG1      NO  01/01/2017 03:45   18.8  ug m-3                       R
16      HG1      NO  01/01/2017 04:00   20.6  ug m-3                       R
17      HG1      NO  01/01/2017 04:15   20.6  ug m-3                       R
18      HG1      NO  01/01/2017 04:30   20.6  ug m-3                       R
19      HG1      NO  01/01/2017 04:45   20.6  ug m-3                       R
20      HG1      NO  01/01/2017 05:00   22.9  ug m-3                       R
21      HG1      NO  01/01/2017 05:15   22.9  ug m-3                       R
22      HG1      NO  01/01/2017 05:30   22.9  ug m-3                       R
23      HG1      NO  01/01/2017 05:45   22.9  ug m-3                       R
24      HG1      NO  01/01/2017 06:00   19.6  ug m-3                       R
25      HG1      NO  01/01/2017 06:15   19.6  ug m-3                       R
26      HG1      NO  01/01/2017 06:30   19.6  ug m-3                       R
27      HG1      NO  01/01/2017 06:45   19.6  ug m-3                       R
28      HG1      NO  01/01/2017 07:00   17.4  ug m-3                       R
29      HG1      NO  01/01/2017 07:15   17.4  ug m-3                       R
...     ...     ...               ...    ...     ...                     ...
105090  HG1     SO2  31/12/2017 16:30    NaN  ug m-3                       P
105091  HG1     SO2  31/12/2017 16:45    NaN  ug m-3                       P
105092  HG1     SO2  31/12/2017 17:00    NaN  ug m-3                       P
105093  HG1     SO2  31/12/2017 17:15    NaN  ug m-3                       P
105094  HG1     SO2  31/12/2017 17:30    NaN  ug m-3                       P
105095  HG1     SO2  31/12/2017 17:45    NaN  ug m-3                       P
105096  HG1     SO2  31/12/2017 18:00    NaN  ug m-3                       P
105097  HG1     SO2  31/12/2017 18:15    NaN  ug m-3                       P
105098  HG1     SO2  31/12/2017 18:30    NaN  ug m-3                       P
105099  HG1     SO2  31/12/2017 18:45    NaN  ug m-3                       P
105100  HG1     SO2  31/12/2017 19:00    NaN  ug m-3                       P
105101  HG1     SO2  31/12/2017 19:15    NaN  ug m-3                       P
105102  HG1     SO2  31/12/2017 19:30    NaN  ug m-3                       P
105103  HG1     SO2  31/12/2017 19:45    NaN  ug m-3                       P
105104  HG1     SO2  31/12/2017 20:00    NaN  ug m-3                       P
105105  HG1     SO2  31/12/2017 20:15    NaN  ug m-3                       P
105106  HG1     SO2  31/12/2017 20:30    NaN  ug m-3                       P
105107  HG1     SO2  31/12/2017 20:45    NaN  ug m-3                       P
105108  HG1     SO2  31/12/2017 21:00    NaN  ug m-3                       P
105109  HG1     SO2  31/12/2017 21:15    NaN  ug m-3                       P
105110  HG1     SO2  31/12/2017 21:30    NaN  ug m-3                       P
105111  HG1     SO2  31/12/2017 21:45    NaN  ug m-3                       P
105112  HG1     SO2  31/12/2017 22:00    NaN  ug m-3                       P
105113  HG1     SO2  31/12/2017 22:15    NaN  ug m-3                       P
105114  HG1     SO2  31/12/2017 22:30    NaN  ug m-3                       P
105115  HG1     SO2  31/12/2017 22:45    NaN  ug m-3                       P
105116  HG1     SO2  31/12/2017 23:00    NaN  ug m-3                       P
105117  HG1     SO2  31/12/2017 23:15    NaN  ug m-3                       P
105118  HG1     SO2  31/12/2017 23:30    NaN  ug m-3                       P
105119  HG1     SO2  31/12/2017 23:45    NaN  ug m-3                       P

[105120 rows x 6 columns]

There are too many rows to view this easily. The records are sorted by `Species`. Let's see what unique values are in this column:

In [11]:
df.Species.unique()

array(['NO', 'PM2.5', 'SO2'], dtype=object)

We can see that there are three values: `NO` for nitric oxide, `Pm2.5` for PM2.5 Particulate, and `S02` for sulpher dioxise. Looks like no nitrogen dioxide was recorded after all.

In [14]:
df.loc[df.ReadingDateTime == "31/12/2017 23:45"]

       Site Species   ReadingDateTime  Value   Units Provisional or Ratified
35039   HG1      NO  31/12/2017 23:45    5.1  ug m-3                       P
70079   HG1   PM2.5  31/12/2017 23:45    NaN  ug m-3                       P
105119  HG1     SO2  31/12/2017 23:45    NaN  ug m-3                       P

Plus, we can see that each unique time has three records: one for each of `NO`, `PM2.5` and `SO2`.